[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
	side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[user]
	email = 38848223+taro0079@users.noreply.github.com
	name = Morita Taro
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
