[pager]
	diff = delta
	log = delta
	reflog = delta
	show = delta
[core]
  pager = delta
	editor = vim
	autocrlf = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true

[merge]
	conflictstyle = diff3
	tool = vimdiff

[diff]
    colorMoved = default
[user]
	email = morita0079@gmail.com
	name = Taro Morita
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[mergetool]
	prompt = false
